.card {
    position: relative;
    width: 200px;
    height: 250px;
    border: 5px solid rgb(83, 54, 150);
    transform-style: preserve-3d;
    box-shadow: rgb(51, 3, 163) 0 0 6px 2px;
    transition: 0.5s transform ease-in-out;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.card::after {
    content: "";
    display: block ;
    width: 190px;
    height: 240px;
    background-image: url(../img/fon1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
}

.card-show {
    transform: rotateY(180deg);
}

.card-finish img{
    filter: grayscale(100%);
}

.card-finish {
    transform: rotateY(180deg);
}

@media (max-width:1200px) {
  .grid {
    grid-template-columns: repeat(3, 250px);
    gap: 40px;
  }
}

@media (max-width:900px) {
  .grid {
    grid-template-columns: repeat(2, 250px);
    gap: 30px;
  }
}
@media (max-width: 600px) {
.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    padding: 0 10px; 
}

.card {
    width: 100%;         
    height: auto;      
    aspect-ratio: 1 / 1; 
}
}