header {
  width: 100%;
    background-color: rgb(61, 64, 255);
    padding:  15px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.main-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.container header {
    width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.link--active {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

h1 {
    color: white;
}

@media (max-width:1200px) {
  .grid {
    grid-template-columns: repeat(3, 250px);
    gap: 40px;
  }
}

@media (max-width:900px) {
  .grid {
    grid-template-columns: repeat(2, 250px);
    gap: 30px;
  }
}
@media (max-width: 600px) {
.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    padding: 0 10px; 
}

.card {
    width: 100%;         
    height: auto;      
    aspect-ratio: 1 / 1; 
    
}
}